                                    <li class="instagram-post-list">
                                        <a href="#">
                                            <img src="assets/images/small-images/instagram-01.jpg" alt="Instagram Images">
                                        </a>
                                    </li>

@code {

}