<!-- Start Single Widget  -->
                            <div class="axil-single-widget widget widget_postlist mb--30">
                                <h5 class="widget-title">Popular on Blogar</h5>
                                <!-- Start Post List  -->
                                <div class="post-medium-block">

                                    <SidebarPopularPostsItem />
                                    <SidebarPopularPostsItem />
                                    <SidebarPopularPostsItem />
                                </div>
                                <!-- End Post List  -->

                            </div>
                            <!-- End Single Widget  -->

@code {

}