                                    <li class="cat-item">
                                        <a href="#" class="inner">
                                            <div class="thumbnail">
                                                <img src="assets/images/post-images/category-image-01.jpg" alt="">
                                            </div>
                                            <div class="content">
                                                <h5 class="title">Tech</h5>
                                            </div>
                                        </a>
                                    </li>

@code {
    
}