<div class="axil-banner">
                            <div class="thumbnail">
                                <a href="#">
                                    <img class="w-100" src="assets/images/add-banner/banner-01.png" alt="Banner Images">
                                </a>
                            </div>
                        </div>

@code {

}