<form class="header-search-form d-sm-block d-none">
    <div class="axil-search form-group">
        <button type="submit" class="search-button">
            <i class="fal fa-search"></i>
        </button>
        <input type="text" class="form-control" placeholder="Søg">
    </div>
</form>
<div class="mobile-search-wrapper d-sm-none d-block">
    <button class="search-button-toggle">
        <i class="fal fa-search"></i>
    </button>
    <form class="header-search-form">
        <div class="axil-search form-group">
            <button type="submit" class="search-button">
                <i class="fal fa-search"></i>
            </button>
            <input type="text" class="form-control" placeholder="Søg">
        </div>
    </form>
</div>

@code {

}