<ul class="metabar-block">
    @*<li class="icon"><a href="#"><i class="fas fa-bookmark"></i></a></li>*@
    @*<li class="icon"><a href="#"><i class="fas fa-bell"></i></a></li>*@
    <AuthorizeView>
        <Authorized>
            <li class="icon">
                <a href="MicrosoftIdentity/Account/SignOut">
                    <i class="fas fa-lock-open"></i>
                </a>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="icon">
                <a href="MicrosoftIdentity/Account/SignIn">
                    <i class="fas fa-lock"></i>
                </a>
            </li>
        </NotAuthorized>
    </AuthorizeView>
    @*<li>
        <a href="#">
            <img src="assets/images/others/author.png" alt="Author Images">
        </a>
    </li>*@
</ul>