                    <div class="row">
                        <div class="col-lg-12">
                            <div class="axil-banner mb--30">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img class="w-100" src="assets/images/add-banner/banner-03.png" alt="Banner Images">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

@code {
    
}